.App {
  text-align: center;
  width: 80vw;
  min-height: 100vh;
  padding-top: 34px;
}

.h2 {
  text-align: center;
  top: 0%;
  border-left-color: rgb(57, 40, 140);
  text-decoration-color: #a7180bbb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e2024;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(251, 163, 49);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
